.DS_Store
npm-debug.log
node_modules/*
tests/browser/swig.pack.js
tests/browser/*.test.js
lib-cov/*
tests/coverage.html
dist/*
tmp_build/*
docs/css/*
browser/test/tests.js
tests/browser.js
tmp
docs/docs/*.json
docs/coverage.html
