
 

 
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <title>Swig - A Node.js and Browser JavaScript Template Engine</title>
  
 

 

<link rel="stylesheet" href="/css/swig.css">



</head>
<body class="home">

  

<header class="header">
  <div class="content row">
    <hgroup class="span7">
      <h1><a href="/">Swig</a></h1>
      <h2>A Node.js and Browser-based JavaScript Template Engine</h2>
    </hgroup>
    
    <nav class="span5">
      <ul class="mainNav">
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="https://github.com/paularmstrong/swig/">Code</a></li>
      </ul>
    </nav>
  
  </div>
</header>



<section class="content">
  <h1>Swig</h1>
  <p>A Node.js and Browser-based JavaScript Template Engine</p>

  <hr class="small">

  <div class="row guttered">

    <section class="span6">
      <h2>Get Started</h2>

      <h3>Install Swig</h3>
      <pre><code>npm install swig</code></pre>

      <h3>Create Your Template</h3>
      <pre><code data-language="swig">&lt;h1&gt;{{ pagename|title }}&lt;/h1&gt;
&lt;ul&gt;
{% for author in authors %}
  &lt;li{% if loop.first%} class="first"{% endif %}&gt;
    {{ author }}
  &lt;/li&gt;
{% else %}
  &lt;li&gt;There are no authors.&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;</code></pre>

      <h3>Render Your Template</h3>
      <pre><code data-language="javascript">var template  = require('swig');
var tmpl = template.compileFile('/path/to/template.html');
tmpl.render({
    pagename: 'awesome people',
    authors: ['Paul', 'Jim', 'Jane']
});</code></pre>

      <h3>The End Result</h3>
      <pre><code data-language="html">&lt;h1&gt;Awesome People&lt;/h1&gt;
&lt;ul&gt;
  &lt;li class="first"&gt;Paul&lt;/li&gt;
  &lt;li&gt;Jim&lt;/li&gt;
  &lt;li&gt;Jane&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    </section>

    <section class="span6">
      <h2>Features</h2>
      <ul>
        <li>Incredibly fast!</li>
        <li>Available for node.js and major web browsers!</li>
        <li>Extendable and customizable.</li>
        <li>Express compatible.</li>
        <li>Object-Oriented template inheritance.</li>
        <li>Apply filters and transformations to output in your templates.</li>
        <li>Automatically escapes all output.</li>
        <li>Lots of iteration and conditionals supported.</li>
      </ul>

      <hr class="small">

      <h2>Download For the Browser</h2>
      <p>Swig also works in all major browsers. Just download the following file and follow the <a href="/docs/#browser">Documentation</a>.</p>
      <p class="download"><a href="/js/swig.pack.min.js" class="btn">Download</a></p>
    </section>

  </div>
</section>


<a class="forkme" href="https://github.com/paularmstrong/swig">Fork me on GitHub</a>

 
<script src="/js/lib/zepto.min.js"></script>
<script src="/js/lib/rainbow.min.js"></script>
<script src="/js/swig.pack.min.js"></script>
<script src="/js/master.js"></script>

</body>
</html>