@import "variables";
@import "reset";
@import "mixins";
@import "layout";
@import "rainbow";
@import "sidenav";
@import "header";

table {
  margin-left: @quarterGutter;
  margin-right: @quarterGutter;
  td,
  th {
    padding: 5px;
  }
  thead {
    td,
    th {
      font-weight: bold;
      border-bottom: 3px solid @colorNeutralLight;
    }
  }
  tbody {
    tr {
      background: #FFF;
    }
    tr:nth-child(even) {
      background: @colorLight;
    }
    th {
      font-weight: bold;
    }
  }
}
td > samp {
  display: inline-block;
}

.sectionNav {
  padding: @quarterGutter;
  position: fixed;
  ul {
    padding: 0;
    margin: 0;
    ul {
      padding-left: @quarterGutter;
    }
    list-style: none;
  }
}

.doc {
  h2 { font-size: @fontSize; }
  dl {
    .clearfix;
    padding: 0 0 0 @quarterGutter;
    margin: 0 0 @quarterGutter @quarterGutter;
    border-left: 3px solid @colorNeutralLight;
  }

  dt,
  dd {
    display: block;
    width: auto;
    float: left;
  }
  dt {
    margin: 0 0.5em 0 0;
    clear: left;
    &:after {
      content: ":";
    }
  }
  dd + dd:before {
    content: ", ";
    margin: 0 0.5em 0 0;
  }
}
